.hero{
    height: 85vh;
    background-image: linear-gradient(90deg,rgba(255, 255, 255, 0.955),rgba(255, 255, 255, 0.35),rgba(255, 255, 255, 0)), url('./campoGrande1.webp');
    background-size: cover;
    background-position: center right;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 10;
    color: #023681;
    padding-left: 80px;
    max-width: 550px;
}

.capy {
    position: absolute;
    bottom: 15px;
    right: 30%;
    width: 230px;
    height: auto;
    z-index: 3;
}

.onda {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 2;
}

.ipe {
    position: absolute;
    bottom: 130px;
    right: -1%;
    width: 230px;
    height: auto;
    z-index: 3;
}